#presentation {
  position: relative;
  overflow: hidden;
  .presentation-wrap {
    @extend %page-padding;
    padding-top: 50px!important;
    margin-bottom: 55px;
    p.title {
      padding-left: 10px;
      color: $theme-dark;
      font-size: 25px;
      font-weight: 600;
    }
  }
  ol.presentations-list{
    list-style-type: none;
    padding-left: 10px;
    li {
      font-size: 1.05rem;
      margin-top: 1.0rem;
      margin-bottom: 1.5rem;
      .title {
        font-weight: bolder;
        font-style: normal;
      }
      .event {
      }
      .date {
          font-style: normal;
          margin-left: 0.5rem;
      }
    }
  }
}